.container * {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    * {
        // No highlighting or selecting
        pointer-events: none;
        user-select: none;
    }
    img {
        width: 48px;
        height: 48px;
    }
    h1 {
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        font-weight: 600;
    }
}

nav > ul {
    list-style: none;
    margin-left: 50px;
    ul {
        margin-right: 4vw;
        li {
            a {
                font-size: 18px;
            }
        }
    }
}