<div class="page">
  <div *ngIf="characterSheetModel != null">
    <h1>{{characterSheetModel.name}}</h1>
    <div class="experience-bar">
      <app-character-experience-bar [characterSheetModel]="characterSheetModel"></app-character-experience-bar>
    </div>
    <div class="nerd-numbers">
      <div class="stat-block">
        <app-character-stat-block [characterSheetModel]="characterSheetModel"></app-character-stat-block>
      </div>
      <div class="combat-block">
        <app-character-combat-block [characterSheetModel]="characterSheetModel"></app-character-combat-block>
      </div>
      <div class="text-block">

      </div>
    </div>
  </div>
</div>
