<div class="container">
    <form [formGroup]="form">
        <app-logo></app-logo>
        <h1>Register</h1>
        <input name="email" placeholder="Email address" formControlName="email">
        <input name="displayName" placeholder="Display name" formControlName="displayName">
        <input name="password" placeholder="Password" formControlName="password" type="password">
        <input name="password" placeholder="Confirm password" formControlName="password" type="password">
        <input name="login" type="submit" (click)="register($event)">
    </form>
    <div>
        <a routerLink="/auth/login">Don't have an account? Login here.</a>
    </div>
</div>
