<div class="container">
    <nav>
        <div class="logo">
            <app-logo [scale]="0.8"></app-logo>
        </div>
        <div class="links">
            <a class="hover-underline" routerLink="/dashboard">Dashboard</a>
            <a class="hover-underline" routerLink="/character-sheets">Character Sheets</a>
            <a class="hover-underline" routerLink="" (click)="logout()">Log out</a>
        </div>
    </nav>
</div>

<!--"WHAT IS MY PURPOSE - you serve padding"-->
<div class="spacer"></div>