$background-color: rgb(255, 246, 238);
$background-color-emphasized: rgb(236, 198, 198);
$primary-color: rgb(255, 205, 161);
$primary-color-emphasized: rgb(253, 188, 130);
$danger-color: rgb(235, 77, 77);

// Progress bar
$progress-bar-max-color: #fde025;
$progress-bar-current-color: #ffb804;
