@use "sass:math";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./assets/colors";
@import "./assets/devices";

$nav-bar-height: 20vw;

html, body {
  margin: 0px;
  padding: 0px;
  background-color: $background-color !important;

  * {
    font-family: 'Noto Sans', sans-serif;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 0.2em;
  font-family: 'Josefin Slab', serif;
}

// Links are the same color as text and have no underline
a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

// Hover underline effect, links will always have this on desktop
.hover-underline {
  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .2s ease;
  }

  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0); // 'Transform' allows for expansion from the middle of the link. 'Width' makes it go from left to right.
  }

  &:hover:before {
    transform: scaleX(1);
  }
}

// Forms will default to top down
$form-element-width: 400px;
$form-element-height: 40px;

form {
  margin: 20vh auto auto; 
  text-align: center;

  input {
    box-sizing: border-box;
    display: block;
    padding: 0px 10px;
    margin: 10px auto;

    width: $form-element-width;
    max-width: 95%;
    height: $form-element-height;
  }

  input[type="checkbox"] {
    height: $form-element-height*0.5;
  }

  input[type="number"] {
    width: math.div($form-element-width, 6);
  }

  > img {
    margin: auto;
  }

  > h1 {
    margin-bottom: 30px;
  }
}

small {
  color: $danger-color;
}

// Button styling
button, input[type="submit"], input[type="reset"] {
  background-color: $primary-color;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  min-height: 40px;
  transition: background-color 0.2s;

  &:hover {
    background: $primary-color-emphasized;
  }
}

// Page layout
.page {
  margin-top: 80px;
  text-align: center;
  min-height: 200vh;
  max-width: 80%;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
